.search { position: relative; }
.search input { text-indent: 30px; border:none; background-color:white;}
.search .fa-search { 
  position: absolute;
  top: 11px;
  left: 35px;
  font-size: 15px;
  color:grey;
}
.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
a, a:visited {
    text-decoration:none;
    color: #0000ff;
    font-weight:400;
}
.forum-content {
   
    height:auto;
  
}
.comments-space {
   
    min-height:50px;
    height:auto;
    
  

  
    text-align: justify;
}
.remaining-content span {
    display:none;
   
}

